.upvote-container {
    flex-wrap: nowrap;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.0rem;
}

.upvote-container p {
    margin-left: 0.4rem;
    margin-right: 0.2rem;
}

.is-upvoted button {
    background-color: transparent;
    color: var(--theme-bee);
}

.is-upvoted button:hover {
    color: var(--theme-bee);
}

button {
    background-color: transparent;
    border: none;
    border-radius: 6px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--theme-bepisboiled);
}

.upvote-icon {
    transition: color 0.3s;
    color: var(--theme-bepisboiled);
}

.upvote-icon:hover {   
    color: var(--theme-bee);
}

