.about-us-view {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  color: var(--color-primary);
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-family: 'Bree Serif', serif;
}

h2 {
  color: var(--color-heading);
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-family: 'Bree Serif', serif;
}

 img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1.5rem; 
 }