h2 {
    color: var(--color-heading);
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.resource-card {
    background-color: var(--color-background);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



.resource-action-row {
    display: flex;
    flex-direction: row;
}

.resource-action-item {
    background-color: var(--color-background-soft);
    border-radius: 8px;
    padding: 0.3rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resource-action-item button {
    background-color: var(--color-background-soft);
    border: 2px solid var(--color-background-soft);
    border-radius: 6px;
}

.resource-action-item button:hover {
    border-color: var(--color-border)
}

.flag-warning {
    background-color: var(--theme-blood);
    color: var(--theme-hardboiled);
    margin-bottom: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
}

.flag-warning b {
    font-weight: bold;
}

.resource-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tab {
    display: flex;
    width: 100%;
}