/* color palette from <https://github.com/vuejs/theme> */
:root {
  /*--vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);*/

  --theme-skyBlue: #aab9f2;
  --theme-white: #ffff;
  --theme-OtherWhite: #f8f8f8;
  --theme-mutedWhite: #f2f2f2;
  --theme-yellow: #ffbf00;
  --theme-darkBrown: #2E2919;
  --theme-grey: rgba(60, 60, 60, 0.66);
  --theme-navyBlue: #1b2336;
  --theme-orange: #db2e1f;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--theme-white);
  --color-loginBackground: var(--theme-OtherWhite);
  --color-background-soft: var(--theme-mutedWhite);

  --color-darkBlueAccent: var(--theme-navyBlue);
  --color-lightBlueAccent: var(--theme-skyBlue);

  --color-text: var(--theme-darkBrown);
  --color-lighterText: var(--theme-grey);

  --color-banner: var(--theme-yellow);
  --color-error: var(--theme-orange);
  
  --section-gap: 160px;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
