@import './base.css';
@import './animations.css';
@import './buttons.css';

#app {
  font-weight: normal;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

a,
.green {
  text-decoration: none;
  color: var(--color-darkBlueAccent);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    opacity: 0.8;
  }
}
